
 
html, body {
    margin: 0;
    padding: 0;
    background: #EEE;
}

.afterlogin {
    text-align: right;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.jumbotron {
    background: url("./map_copy.jpg") no-repeat center center;
    background-size: cover;
    height: 1250px;
    
}

